scikit_image==0.17.2
pandas==1.1.4
numpy==1.19.4
opencv_python==4.4.0.46
torch==1.7.0
detectron2==0.3
torchvision==0.8.1
tensorflow==2.4.0
matplotlib==3.3.3
data==0.4
omidb==0.7.0
pytest==6.2.2
skimage==0.0
